:root {
	--syntax-tab-size: 2;
}

pre:not([class*="language-"]) {
  background: var(--c-code-bg);
  padding: var(--sp-m);
  margin: var(--sp-s) 0;
  overflow: auto;
}

pre:not([class*="language-"]) > code {
  color: var(--c-foreground);
  font-family: var(--t-ff-mono);
  font-size: var(--t-s-s);
  white-space: pre;
  line-height: var(--t-lh-dense);
}

code[class*="language-"],
pre[class*="language-"] {
	color: var(--c-foreground);
	background: none;
	font-family: var(--t-ff-mono);
	font-size: var(--t-s-s);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: var(--t-lh-dense);
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"] {
	padding: var(--sp-m);
	margin: var(--sp-s) 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--c-code-bg);
}

:not(pre) > code[class*="language-"] {
	padding: var(--sp-2xs) var(--sp-xs);
	white-space: normal;
}

code {
	word-break: break-all;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--c-code-comment);
}

.token.punctuation {
	color: var(--c-foreground);
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: var(--c-code-keyword);
}

.token.boolean,
.token.number {
	color: var(--c-code-number);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--c-code-string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: var(--c-foreground);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: var(--c-code-keyword);
}

.token.keyword {
	color: var(--c-code-keyword);
}

.token.regex,
.token.important {
	color: var(--c-code-string);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre[class*="language-diff-"] {
	--eleventy-code-padding: var(--sp-m);
	padding-left: var(--eleventy-code-padding);
	padding-right: var(--eleventy-code-padding);
}

.token.deleted {
	background-color: var(--c-code-deleted-bg);
	color: inherit;
}

.token.inserted {
	background-color: var(--c-code-inserted-bg);
	color: inherit;
}

.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
	-webkit-user-select: none;
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.token.prefix.inserted,
.token.prefix.deleted {
	width: var(--eleventy-code-padding);
	background-color: var(--c-code-bg);
}

.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
	display: block;
	margin-left: calc(-1 * var(--eleventy-code-padding));
	margin-right: calc(-1 * var(--eleventy-code-padding));
	text-decoration: none;
	color: inherit;
}
