:root {
	--syntax-tab-size: 2;
}

* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	color: var(--foreground);
	background-color: var(--background);
}

html {
	overflow-y: scroll;
}

body {
	max-width: var(--sp-site-width);
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

img {
	max-width: 100%;
}

img[width][height] {
	height: auto;
}

img[src$=".svg"] {
	width: 100%;
	height: auto;
	max-width: none;
}

video,
iframe {
	width: 100%;
	height: auto;
}

iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-bottom: 0;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--accent);
}

a[href]:visited {
	color: var(--accent);
}

a[href]:hover,
a[href]:active {
	color: var(--accent-hover);
}

a[target="_blank"] {
	position: relative;
	padding-right: .95em;
}

a[target="_blank"]::after {
	content: "↗";
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	right: 0;
	opacity: .6;
}

main,
footer {
	padding: 2.5rem 1.5rem 1.5rem;
}

main :first-child {
	margin-top: 0;
}

#skip-link {
	text-decoration: none;
	background: var(--background);
	color: var(--foreground);
	padding: 0.5rem 1rem;
	border: 1px solid var(--border);
	border-radius: 2px;
}

#skip-link.visually-hidden:focus {
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 999;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--border);
	padding: 1em 0;
}

.links-nextprev > * {
	flex-grow: 1;
}

.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}

table td:not(:last-child),
table th:not(:last-child) {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--t-ff-mono);
}

pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375;
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}

code {
	word-break: break-all;
}

header {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 1.5rem;
}

.home-link {
	flex-grow: 1;
	font-size: 1em;
	font-weight: var(--t-fw-m);
}

.home-link:link:not(:hover),
.home-link:link:hover {
	text-decoration: none;
}

.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav-item {
	display: inline-block;
}

.nav-item a[href] {
	text-decoration: none;
}

.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

.postlist {
	counter-reset: start-from var(--postlist-index);
	list-style: none;
	padding: 0;
}

.postlist-item {
	display: flex;
	flex-direction: column;
	gap: var(--sp-2xs);
}

.postlist-date {
	font-size: var(--t-s-m);
	color: var(--foreground-secondary);
}

.postlist-date {
	word-spacing: -0.5px;
}

.postlist-link {
	font-size: var(--t-s-m);
	font-weight: var(--t-fw-m);
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
	font-weight: var(--t-fw-m);
}

.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}

.postlist-item > .post-tag {
	align-self: center;
}

.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-metadata time {
	margin-right: 1em;
}
