@media only screen and (min-width: 769px) {
  /* desktop */
}
@media only screen and (min-width: 481px) {
  /* desktop and tablet */
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* tablet */
}
@media only screen and (max-width: 768px) {
  /* tablet and mobile */
}
@media only screen and (max-width: 480px) {
  /* mobile */
}

:root {
  --sp-nil: 0;
  --sp-2xs: 0.25rem;
  --sp-xs: 0.5rem;
  --sp-s: 0.75rem;
  --sp-m: 1rem;
  --sp-l: 1.5rem;
  --sp-xl: 2rem;
  --sp-2xl: 3rem;
  --sp-3xl: 4rem;
  --sp-4xl: 6rem;
  --sp-5xl: 8rem;
  --sp-6xl: 12rem;
  --sp-7xl: 16rem;
  --sp-site-width: 42em;
}

@media only screen and (max-width: 480px) {
  :root {
    --sp-2xl: 2rem;
    --sp-3xl: 2.5rem;
    --sp-4xl: 3.5rem;
    --sp-5xl: 4rem;
    --sp-6xl: 5rem;
    --sp-7xl: 6rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --sp-2xl: 2.5rem;
    --sp-3xl: 3.5rem;
    --sp-4xl: 4.5rem;
    --sp-5xl: 5.5rem;
    --sp-6xl: 7.5rem;
    --sp-7xl: 9.5rem;
  }
}
