@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --t-ff-sans: "Inter", -apple-system, system-ui, sans-serif;
  --t-ff-mono: "Andale Mono", Consolas, Menlo, Monaco, "Courier New", monospace;
  --t-lh-flat: 100%;
  --t-lh-dense: 130%;
  --t-lh-loose: 150%;
  --t-base-size: 16px;
  --t-fw-r: 400;
  --t-fw-sb: 600;
  --t-ls-tight: -.015em;
  --t-ls-normal: 0;
  --t-ls-wide: .15em;
  --t-s-s: 0.875rem;
  --t-s-m: 1rem;
  --t-s-l: 1.125rem;
  --t-s-xl: 1.375rem;
  --t-s-2xl: 1.5rem;
}

html, body { font-family: var(--t-ff-sans); }
html { font-size: var(--t-base-size); }

body {
  font-size: var(--t-s-m);
  font-weight: var(--t-fw-r);
  line-height: var(--t-lh-loose);
  letter-spacing: var(--t-ls-normal);
}

strong { font-weight: var(--t-fw-sb); }
em { font-style: italic; }
small { font-size: var(--t-s-s); }

h1, h2, h3 {
  line-height: var(--t-lh-dense);
  font-weight: var(--t-fw-sb);
}

h1, h2 { letter-spacing: var(--t-ls-tight); }

h1 { font-size: var(--t-s-2xl); }
h2 { font-size: var(--t-s-xl); }
h3 { font-size: var(--t-s-l); }
