@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --t-ff-h: "Inter", -apple-system, system-ui, sans-serif;
  --t-ff-p: "Inter", -apple-system, system-ui, sans-serif;
  --t-ff-mono: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  --t-lh-flat: 100%;
  --t-lh-dense: 130%;
  --t-lh-loose: 150%;
  --t-base-size: 16px;
  --t-fw-r: 400;
  --t-fw-m: 500;
  --t-ls-tight: -.015em;
  --t-ls-normal: 0;
  --t-ls-wide: .15em;
}

:root {
  --t-s-s: clamp(0.8690217391rem, -0.1982689211vi + 0.9285024155rem, 0.8333333333rem);
  --t-s-m: clamp(0.999375rem, 0.0034722222vi + 0.9983333333rem, 1rem);
  --t-s-l: clamp(1.14928125rem, 0.2817708333vi + 1.06475rem, 1.2rem);
  --t-s-xl: clamp(1.3216734375rem, 0.6573697917vi + 1.1244625rem, 1.44rem);
  --t-s-2xl: clamp(1.5199244531rem, 1.1559752604vi + 1.173131875rem, 1.728rem);
}

html,
body {
  font-family: var(--t-ff-p);
}

html {
  font-size: var(--t-base-size);
}

body {
  font-size: var(--t-s-m);
  font-weight: var(--t-fw-r);
  line-height: var(--t-lh-loose);
  letter-spacing: var(--t-ls-normal);
}

small, .t-s-s {
  font-size: var(--t-s-s);
  line-height: var(--t-lh-loose);
  font-weight: var(--t-fw-r);
  font-family: var(--t-ff-p);
  letter-spacing: var(--t-ls-normal);
}

p, a, .t-s-m {
  font-size: var(--t-s-m);
  line-height: var(--t-lh-loose);
  font-weight: var(--t-fw-r);
  font-family: var(--t-ff-p);
  letter-spacing: var(--t-ls-normal);
}

h3, .t-s-l {
  font-size: var(--t-s-l);
  line-height: var(--t-lh-dense);
  font-weight: var(--t-fw-m);
  font-family: var(--t-ff-p);
  letter-spacing: var(--t-ls-normal);
}

h2, .t-s-xl {
  font-size: var(--t-s-xl);
  line-height: var(--t-lh-dense);
  font-weight: var(--t-fw-m);
  font-family: var(--t-ff-h);
  letter-spacing: var(--t-ls-tight);
}

h1, .t-s-2xl {
  font-size: var(--t-s-2xl);
  line-height: var(--t-lh-dense);
  font-weight: var(--t-fw-m);
  font-family: var(--t-ff-h);
  letter-spacing: var(--t-ls-tight);
}

.t-lh-flat {
  line-height: var(--t-lh-flat);
}

.t-lh-dense {
  line-height: var(--t-lh-dense);
}

.t-lh-loose {
  line-height: var(--t-lh-loose);
}

.t-fw-r {
  font-weight: var(--t-fw-r);
}

.t-fw-m {
  font-weight: var(--t-fw-m);
}

.t-ff-p {
  font-family: var(--t-ff-p);
}

.t-ff-h {
  font-family: var(--t-ff-h);
}

.t-ff-mono {
  font-family: var(--t-ff-mono);
}

.t-ls-tight {
  letter-spacing: var(--t-ls-tight);
}

.t-ls-normal {
  letter-spacing: var(--t-ls-normal);
}

.t-ls-wide {
  letter-spacing: var(--t-ls-wide);
}

.t-tt-none {
  text-transform: none;
}

.t-tt-uppercase {
  text-transform: uppercase;
}

.t-ta-center {
  text-align: center;
}

.t-ta-left {
  text-align: left;
}

.t-ta-right {
  text-align: right;
}

.t-tw-pretty {
  text-wrap: pretty;
}

.t-tw-balance {
  text-wrap: balance;
}

.t-tw-nowrap {
  text-wrap: nowrap;
}