---
title: Verify that you are a human
description: We've been running verifications to get rid of bots. Seems pretty outdated to me nowadays.
date: 2025-12-24
tags:
  - ai
changelog:
draft: true
---


