---
layout: layouts/base.njk
eleventyNavigation:
  key: "Docs"
  parent: "footer"
  order: 1.5
  blank: false
---
<h1>Documentation & Tutorials</h1>
{% set doctutorialslist = collections.docTutorials %}
{% include "doctutorialslist.njk" %}
