---
layout: layouts/base.njk
---
<h1>Documentation Topics</h1>

<ul>
{%- for topic in collections.docTopics %}
	{%- set topicUrl %}/doc-topics/{{ topic | slugify }}/{% endset %}
	<li>
		<a href="{{ topicUrl }}" class="entry-taxonomy">{{ topic }}</a>
	</li>
{%- endfor %}
</ul>
