<ul class="entry-list">
{%- for post in postslist | reverse %}
	<li class="entry-item{% if post.url == url %} entry-item-active{% endif %}">
		<a href="{{ post.url }}" class="entry-link">
			<time class="entry-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("yyyy/MM") }}</time>
			<span class="entry-title">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</span>
		</a>
	</li>
{%- endfor %}
</ul>
