---
layout: layouts/base.njk
---

{{ content | safe }}

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the blog page</a>.</p>
{% endif %}

{% set projectsCount = collections.projects | length %}
{% set latestProjectsCount = projectsCount | min(numberOfLatestProjectsToShow) %}
<h1>Latest {{ latestProjectsCount }} project{% if latestProjectsCount != 1 %}s{% endif %}</h1>

{% set projectslist = collections.projects | head(-1 * numberOfLatestProjectsToShow) %}
{% include "projectslist.njk" %}

{% set moreProjects = projectsCount - numberOfLatestProjectsToShow %}
{% if moreProjects > 0 %}
<p>{{ moreProjects }} more project{% if moreProjects != 1 %}s{% endif %} can be found in <a href="/projects/">the projects archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
